{% extends 'base.html' %}
{% load static %}
{% block settings %}

  <link rel="stylesheet" href="{% static 'css/tabulator_site_dark.min.css' %}" />
  <script type="text/javascript" src="{% static 'js/tabulator.min.js' %}"></script>

  {% include 'header/index.html' %}

  <div class="container-fluid text-center">

    <h5 class="text-center mt-3">LIST SAHAM YANG TERSEDIA</h5>

    <div style="margin-top: -2rem;" class="d-flex justify-content-between mb-2 ">
      <div>
        <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-placement="bottom" title="UPDATE" data-bs-target="#tambah_saham">TAMBAH SAHAM</button>
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-placement="bottom" title="UPDATE" data-bs-target="#hapus_saham">HAPUS SAHAM</button>

      </div>
      <div>
        <input class="form-control form-control-sm" type="text" id="search" placeholder="Cari" aria-label="default input example">
      </div>
    </div>
    <div id="table_settings"></div>
  </div>

  {% include 'modal/tambah_saham.html' %}
  {% include 'modal/hapus_saham.html' %}

{% endblock %}