{% extends 'base.html' %}
{% load static %}
{% block settings %}

    <link rel="stylesheet" href="{% static 'css/tabulator_site_dark.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/tabulator.min.js' %}"></script>


    {% include 'header/index.html' %}


    <div class="container-fluid text-center">

        <p  style="font-size: 20px; font-family: Verdana, Geneva, Tahoma, sans-serif; " class="mt-3">DAFTAR SAHAM</p>
        <div id="table_settings"></div>

    </div>





{% endblock %}