
    /* Container for the search bar */
    .search-container {
      width: 100%;
      max-width: 600px;
      margin: auto;
    }
    
    /* Styling the form */
    .form_search {
      display: flex;
      border: 1px solid #dfe1e5;
      border-radius: 24px;
      background-color: green;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
      height: 44px;
    }
    
    /* Styling the input field */
    .search-input {
      flex: 1;
      border: none;
      outline: none;
      padding: 0 15px;
      font-size: 16px;
      border-radius: 24px 0 0 24px;
    }
    
    /* Styling the submit button */
    .search-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 24px 24px 0;
    }
    
    /* Adding a search icon inside the button */
    .search-button img {
      width: 20px;
      height: 20px;
    }
    
    .search-input::placeholder {
      color: #aaa;
    }
    
    .search-input:focus {
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    }
